.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.btn-one {
  display: flex;
  color: bisque;
  background-color: brown;
  margin: 2rem 10rem;
  padding: 0.7rem;
  border-radius: 20%;


}

.btn-two {
  display: flex;
  color: bisque;
  background-color: brown;
  margin: 2rem 10rem;
  padding: 0.7rem;
  border-radius: 20%;
}

.refresh {
  color: bisque;
  background-color: brown;
  margin: 2rem 10rem;
  padding: 0.7rem;
  border-radius: 5%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}